################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/praktikum-CRUD/praktikum-CRUD/.env
/MarketplaceWinform/MarketplaceWinform/.env
